* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #d5d5d6;
}



img {
    width: 100%;
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 50px 10% 0px 10%;
    
}


#boton-carrito {
    border: none;
    color: black;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

p {
    line-height: 1.8;
}

.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
    background-color: #fffffe;
    border-radius: 20px;
}

.precioProducto {
    font-weight: 700;
}

.boton-agregar {
    background-color: #ff8906;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
    border-radius: 20px;
}

.boton-agregar:hover {
    cursor: pointer;
}

.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;

}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #ff8906;
    padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #ff8906;
    border: none;
    background-color: white;
}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    padding-top: 10px;

}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid black;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}

/*ALERTA CUANDO AGREGO AL CARRITO*/

.swal-modal {
    background-color: rgba(23, 23, 27, 0.69);
}

.swal-title {
    font-size: 30px;
    color: white;
}

.swal-text {
    font-size: 25px;
    color: white;
}

.editarlogo{
    padding-left: 10px;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-link{
    padding-top: 15px;
}

.fondopg{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.imgpubli{
    max-width: 1500px;
}


body.darkmode{
    background-color: rgb(32,32,44);
}

#bdark{
    border-radius: 80px;
    width: 20%;
}

#bdark:hover{
    background-color: black;
    color: white;
}



/*login*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.bodylogin {
    height: 100vh;
    display: flex;
    background-image: url("../img/1366_2000.png");
    background-size: cover; 
    margin: 0;
}


.contenedor {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
    margin-top: 40px;
}

.bienvenido {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    font-size: 80px;
}

.mensaje {
    padding: 10px;
    margin-top: 40px;
}

.mensaje h2 {
    font-size: 25px;
    padding: 10px;
    margin-top: 50px;
}

.mensaje button {
    padding: 10px;
    font-weight: 400;
    background-color: #6464f8;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 32px;
    transition: all .3s ease-in;
    color: #fff;
}

.mensaje button:hover {
    background-color: #6464f8;
}

/*formulario1*/
.formulario1 {
    width: 400px;
    height: 380px;
    padding: 15px;
    margin: 2px;
    margin-top: 50px;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
    border-radius: 25px;
}

.formulario1 input {
    width: 250px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    justify-content: center;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: white;
}

.formulario1 input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: 15px;
    border-radius: 25px;
    background-color: white;
    font-weight: 600;
    margin-top: 20px;
    font-size: 13px;
    cursor: pointer;
    color: #222;
}

/*fin de formulario1*/
.formulario2 {
    width: 360px;
    height: 340px;
    padding: 15px;
    margin: 2px;
    margin-top: 50px;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
    border-radius: 25px;
}

.formulario2 input {
    width: 250px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    justify-content: center;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: white;
}

.formulario2 input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: 15px;
    border-radius: 25px;
    background-color: white;
    font-weight: 600;
    margin-top: 20px;
    font-size: 13px;
    cursor: pointer;
    color: #222;
}

.crear-cuenta {
    margin: 20px;
}

.caja1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caja2 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textoEscondido2 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}


.footerlogin {
    background-color: rgb(31, 30, 30);
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.footerlogin footer {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: justify;
}